.galery{
    display: flex;
    height: 20rem;
    gap : 1rem
}

.galery > div {
    flex : 1;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, .1.4);
}

.galery > div:hover {
    flex : 5
}